<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Block-Bit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bbit/w3.css' %}">
  <link rel="stylesheet" href="{% static 'bbit/css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Poppins", sans-serif
    }

    body {
      font-size: 16px;
    }

    img {
      margin-bottom: -8px;
    }

    .mySlides {
      display: none;
    }
  </style>
</head>

<body class="w3-content w3-black" style="max-width:1500px;">

  <!-- Header with Slideshow -->
  <header class="w3-display-container w3-center">
    <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium" onclick="document.getElementById('download').style.display='block'">Download
      <sub><i class="fab fa-android fa-2x"></i></sub>
    </button>

    <div class="mySlides w3-animate-opacity" style="display: block;">
      <img class="w3-image" src="{% static 'bbit/app.jpg' %}" alt="Image 1">
      <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
        <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge w3-text-green"><b>Block-Bit</b></h1>
          <hr class="w3-opacity">
          <p class="w3-serif w3-xlarge">new to the game? Let's play </p>
          <p>
            <button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('download').style.display='block'">Download
              <sub><i class="fab fa-android fa-2x"></i></sub>
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides w3-animate-opacity" style="display: none;">
      <img class="w3-image" src=" {% static 'bbit/app2.jpg' %}" alt="Image 2">
      <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
        <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge w3-text-red"><b>game for all age</b></h1>
          <hr class="w3-opacity">
          <p class="w3-serif w3-xlarge">play endlessly... free of charge</p>
          <p><button class="w3-button w3-block w3-red w3-round" onclick="document.getElementById('download').style.display='block'">Download
              <sub><i class="fab fa-android fa-2x"></i></sub>
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="mySlides w3-animate-opacity" style="display: none;">
      <img class="w3-image" src=" {% static 'bbit/app4.jpg' %}" alt="Image 3">
      <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
        <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge w3-text-indigo"><b>Don’t be shy, join the fun!</b></h1>
          <hr class="w3-opacity">
          <p class="w3-serif w3-xlarge">advanture begins here</p>
          <p><button class="w3-button w3-block w3-indigo w3-round" onclick="document.getElementById('download').style.display='block'">Download
              <sub><i class="fab fa-android fa-2x"></i></sub>
            </button>
          </p>
        </div>
      </div>
    </div>

    <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey" onclick="plusDivs(1)">Take Tour <i class="fas fa-angle-double-right"></i></a>
    <a class="w3-button w3-block w3-black w3-hide-large w3-hide-medium" onclick="plusDivs(1)">Take Tour <i class="fas fa-angle-double-right"></i></a>
  </header>

  <!-- The App Section -->
  <div class="w3-padding-64 w3-white w3-padding-large">
    <div class="w3-row-padding">
      <div class="w3-col l8 m6">
        <h1 class="w3-jumbo"><b>Block-Bit</b></h1>
        <h1 class="w3-xxlarge w3-text-red"><b>play endlessly...</b></h1>
        
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>
          <span class="w3-xlarge">Take photos like a pro.</span>
          You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>

        <a href="{% static 'bbit/bbit(withSensor).apk' %}" class="w3-button w3-pale-red w3-border w3-xlarge w3-text-red w3-hover-sand w3-padding-large w3-section w3-hide-small" onclick="document.getElementById('download').style.display='block'">
          <i class="fas fa-download"></i> Download App </a>

        <p class="w3-xxlarge">Available for <sub><i class="fab fa-android fa-2x w3-text-green"></i></sub></p>
      </div>

      <div class="w3-col l4 m6">
        <img src="{% static 'bbit/img_app.jpg' %}" class="w3-image w3-right w3-hide-small" width="335" height="471">
        <div class="w3-center w3-hide-large w3-hide-medium">
          <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
            <i class="fa fa-download"></i> Download Application
          </button>
          <img src="{% static 'bbit/img_app.jpg' %}" class="w3-image w3-margin-top" width="335" height="471">
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="download" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:16px">
      <div class="w3-container w3-white">
        <i onclick="document.getElementById('download').style.display='none'" class="fas fa-times w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
        <h2 class="w3-wide w3-text-green"><sub><i class="fab fa-android fa-2x w3-text-green"></i></sub> DOWNLOAD</h2>
        <p>Downloading will automatically begin in a few seconds.
          <br> Coming soon on Google Play <i class="fab fa-google-play"></i>
        </p>
        <p>
          <input class="w3-input w3-border" type="text" placeholder="Enter e-mail">
        </p>
        <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('download').style.display='none'">Subscribe</button>
      </div>
    </div>
  </div>

  <!-- Service Section -->
  <div class="w3-padding-64 w3-light-grey w3-padding-large">
    <div class="w3-row-padding">
      <div class="w3-col l4 m6">
        <img class="w3-image w3-round-large w3-hide-small " src="{% static 'bbit/app6.png' %}" alt="App" width="335" height="471">
      </div>

      <div class="w3-col l8 m6">
        <h1 class="w3-xxxlarge w3-text-red"><b>Services</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p class="w3-sans-serif w3-large">We regularly update Block-Bit for more features and enhanced performance.
          <br><br> We hope you’re having fun playing Block-Bit. We update the game every month so don’t forget to download the latest version to get all the new features, upgrades and levels!
          <br><br>New to the game? Don’t be shy, join the fun!
          <br><br>Let’s play!
          <br><br>Block-bit will be updated regularly with your suggestions. Don’t forget to leave a review with your feedback.
          <br><br>* All the services of Block-bit is managed by <a href="https://ecorpin.web.app" class="w3-hover-opacity">Ecorpin corporation</a>.
        </p>

        <div class="w3-row-padding">
          <hr>
          <button class="w3-button w3-red w3-padding-large w3-hover-black">Comming Soon on Play Store</button>
          <button class="w3-button w3-red w3-padding-large w3-hover-black" onclick="">Register for Beta Version</button>
        </div>
      </div>


    </div>
  </div>

  <!-- Features Section -->
  <div class="w3-container w3-padding-64 w3-dark-grey w3-center">
    <h1 class="w3-jumbo"><b>Features</b></h1>
    <p>This app is just so lorem ipsum.</p>

    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s4">
        <i class="fa fa-bolt w3-text-orange w3-jumbo"></i>
        <p>Fast</p>
      </div>
      <div class="w3-col s4">
        <i class="fa fa-heart w3-text-red w3-jumbo"></i>
        <p>Loved</p>
      </div>
      <div class="w3-col s4">
        <i class="fa fa-battery-full w3-text-green w3-jumbo"></i>
        <p>Optimized</p>
      </div>
    </div>

    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s4">
        <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
        <p>Ofline</p>
      </div>
      <div class="w3-col s4">
        <i class="fas fa-chart-line w3-text-amber w3-jumbo"></i>
        <p>Scorecard</p>
      </div>
      <div class="w3-col s4">
        <i class="fa fa-user w3-text-cyan w3-jumbo"></i>
        <p>profile</p>
      </div>
    </div>

    <div class="w3-row" style="margin-top:64px">
      <div class="w3-col s4">
        <i class="fa fa-mobile w3-text-sand w3-jumbo"></i>
        <p>Sensor</p>
      </div>
      <div class="w3-col s4">
        <i class="fa fa-wifi w3-text-grey w3-jumbo"></i>
        <p>Connected</p>
      </div>
      <div class="w3-col s4">
        <i class="fab fa-buffer w3-text-pink w3-jumbo"></i>
        <p>Friendly UI/UX</p>
      </div>
    </div>
  </div>

  <!-- Developer Section -->
  <div class="w3-padding-64 w3-white w3-padding-large">
    <div class="w3-container">
      <h1 class="w3-xxxlarge w3-text-red"><b>Developer.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <p><b>Developed &amp; Designed by The Electrifying young Minds of Ecorpin.</b></p>
      <p>A group of advanced, open source Android apps with customizable widgets, and unnecessary permissions.
        <br> JOIN OUR FAMILY!
        <br><br>IN ORDER FOR US TO CONTINUE AND CREATE THE THINGS YOU LOVE SO MUCH
        <br><br> WE NEED YOUR SUPPORT <a href="#" class="w3-text-red">DONATE US NOW</a>
        <br><br> WE THANK YOU FOR YOUR LOVE! <a href="https://ecorpin.web.app/team.html" title="Ecorpin developers" target="_blank" class="w3-hover-opacity w3-text-red">#ecorpians</a>
      </p>
      <!-- The Team -->
      <div class="w3-row-padding w3-margin-left">
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-container w3-pale-red w3-padding-large w3-round-large">
                <h3 class="w3-text-red"><b> {{ devName }}</b></h3>
                <p>
                  <b><sub><i class="fab fa-android fa-2x w3-text-green"></i></sub> Block-Bit Developer</b>
                  <br> Developer, Designer and Architect
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
    <div class="w3-light-grey w3-container w3-padding-32">
      <p class="w3-right w3-xlarge">Developed by <a href="{% url 'team' %}" title="Ecorpin developers" target="_blank" class="w3-hover-opacity">#ecorpians</a></p>
    </div>

  <script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[slideIndex - 1].style.display = "block";
    }
  </script>

</body>

</html>