{% extends 'ecorpin/base.html' %}

<!-- Endpoint Information -->
{% if info %}
	{% block titile %} {{ info.title }} {% endblock %}
	{% block end-point %} {{ info.end_point }} {% endblock %}
	{% block side-nav %} {{ info.sideNav }} {% endblock %}
	{% block main-headBox %}
		<h3><b>{{ info.main_headBox }}</b></h3>
		<br>
		<h2><b>Careers @Ecorpin</b></h2>
	{% endblock %}
	{% block edge-headBox %}
		<h2><b>{{ info.edge_headBox }}</b></h2>
		<hr>
		<h2><b>currently no positions are open...</b></h2>
	{% endblock %}
{% endif %}

{% block content %}
	<h1>Our Values</h1>
	<h3><br><b>Dedication</b></h3>
	<p>We've passion for serious impact. We inspire our extraordinary team, and they inspire us right back.
		We go the extra mile. We creat an inspiring, active and dedicated work environment.</p>

	<h3><br><b>Flexibility</b></h3>
	<p>We're an open-concept environment with flexible scheduling to fit your work and personal style.</p>

	<h3><br><b>Learning</b></h3>
	<p>Ecorpin Corporation is build on learning. We're always investigating the next big thing, and 
		we expect you to have the same passion for technology and <i>learning as we do!</i> 
		Aditionally, we value diversity and equality in the workplace.</p>

	<h3><br><b>Celebrations</b></h3>
	<p>We have an extraordinary team and weekly celebrations; You'll often find us at our saturday afternoon meetings, 
		sipping some delicious wine or savoury beer, talking about creativity and innovation, laughing or dancing
		or helping each other.</p>

	<h3><br><b> Communication</b></h3>
	<p>We have definitely efficient communicators, using many channels from <b>Google Hangout</b>,
		<b>Skype</b>, <b>Ecorpin-X</b>, <b>email</b>, <b>call</b>. yes, in person tool. whatever your
		style, it will work-as long as it's direct and you're ready to take action.
	</p>

	<h3><br><b>Wellness</b></h3>
	<p>We're all about the healthy snacks and keep available for when you get pickish.<br><b>Have a favourite? Let us know!</b></p>

	<h3><br><b>Results</b></h3>
	<p>Value creation in everything, we do. We help a young nation seize its future as an technical powerhouse. 
		We help everyone to realize their full potential, based on the Science and Technology. We focus on inventing the future.
	</p>

	<h3><br><b>Trust</b></h3>
	<p>Responsibility in all relationship. We have an open and including culture. We push past the edge of human
		understanding and we always strive to keep our promises. we take alot of great challenges and responsibility for
		our own development. </p>

	<h3><br> Follow Us</h3>
	<p>The Ecorpin Network explores new and better methods for Ecorpin to spark the right connections within 
		Ecorpin and between Ecorpin and the world. We tailor communications experiences to the passions and 
		needs of those who wish to join, support, or understand our mission and its pursuit.</p>
{% endblock%}