{% extends 'ecorpin/base.html' %}

<!-- Endpoint Information -->
{% if info %}
    {% block titile %} {{ info.title }} {% endblock %}
    {% block end-point %} {{ info.end_point }} {% endblock %}
    {% block side-nav %} {{ info.sideNav }} {% endblock %}
    {% block main-headBox %}<h2><b>{{ info.main_headBox }}</b></h2>{% endblock %}
    {% block edge-headBox %}<h4><b>{{ info.edge_headBox }}</b></h4>{% endblock %}
{% endif %}

<!-- Content Block -->
{% block content %}
    <div class="tle-body-text">
        <h2>Contact Info</h2>
        <p><b>Ecorpin Corporation</b><br> INDIA, Pecific Asia</p>

        <p><a href="tel:+916295173968" title="Call Us">Mob.: <u>+91 6295173968</u></a><br>
            <a href="mailto:ecorpin.help@gmail.com" title="Write Us">Email: <u>ecorpin.help@gmail.com</u></a>
        </p>

        <h3><br> Have an idea!.. start a project with <a href="{% url 'ecorpin:team' %}" title="Ecorpin Developers"><u>#ecorpians</u></a></h3>
        <p> Tell us a bit about your project or idea, so we can start a conversation.<br>
            <button class="search_button"><a href="{% url 'service_access:contact_request' %}">START A PROJECT WITH US</a></button>
        </p>

        <h3><br> About Ecorpin Corporation</h3>
        <p>Know more at our <a href="{% url 'ecorpin:about' %}" title="About Ecorpin"> <u> About Us</u></a> page. <br> For questions about Ecorpin,
            email us at <a href="mailto:ecorpin.help@gmail.com" title="Write Us"><u>ecorpin.help@gmail.com</u></a>.
        </p>

        <h3><br> Directory</h3>
        <div>You can find people, products, and services by using the main search function on this site (<a href="{% url 'ecorpin:maintenance' %}"><u>go to Search Pannel</u></a>).</div>

        <h3><br> Website Feedback</h3>
        <div>We welcome your feedback about the Ecorpin Corporation. <br>
            We'd love to know what you think about our services so that we can make sure the experience is the best it can be.<br>
            <button class="search_button">
                <a href="{% url 'ecorpin:feedback' %}">LEAVE FEEDBACK</a>
            </button>
        </div>

        <h3><br> Help Us</h3>
        <div> Questions, corrections, and suggestions should be directed to <a ref="mailto:ecorpin.help@gmail.com" title="Write Us"><u>ecorpin.help@gmail.com</u></a>.</div>

        <h3><br> Follow Us</h3>
        <p>The Ecorpin Network explores new and better methods for Ecorpin to spark the right connections within Ecorpin and between 
            Ecorpin and the world. We tailor communications experiences to the passions and needs of those who wish to join, support, or 
            understand our mission and its pursuit.
        </p>
    </div>
{% endblock%}