{% extends 'ecorpin/base.html' %}

<!-- Endpoint Information -->
{% if info %}
{% block titile %} {{ info.title }} {% endblock %}

{% block end-point %} {{ info.end_point }} {% endblock %}

{% block side-nav %} {{ info.sideNav }} {% endblock %}

{% block main-headBox %}<h2>{{ info.main_headBox }}</h2>{% endblock %}

{% block edge-headBox %}<h3>{{ info.edge_headBox }}</h3>{% endblock %}

{% endif %}

<!-- Content Block -->
{% block content %}

<h2>ecorpin's response to the Coronavirus Disease (Covid-19)</h2>

<div><br>Ecorpin is tracking the Covid-19 (coronavirus) situation, offering ongoing updates
    and guidance.
    With the virus now established in the INDIA, we are intensifying our organizational response. This website
    offers the latest updates and information on what we’re doing. This guidance may change quickly as new
    information becomes available.</div>
<br>

<div><br><a style="color: #004040">Government of India</a> is taking all necessary steps to ensure that we are
    prepared well to face the challenge and threat posed by the growing pandemic of COVID 19 – the Corona Virus.
    With active support of the people of India, we have been able to contain the spread of the Virus in our
    country. The most important factor in preventing the spread of the Virus locally is to empower the citizens with the
    right information and taking precautions as per the advisories being issued by Ministry of Health &amp;
    Family Welfare.</div>


<!-- COVID19 INDIA TRACKER IFRAME 
    <iframe src="https://www.covid19india.org" height="350" width="1120" style="border:none;"></iframe>
-->
<h4 style="color: #004040"><br>Additional Resources</h4>
<ul style="color: brown">
    <li>The Helpline Number for corona-virus(INDIA):<a href="tel:+911123978046">+91-11-23978046</a><br>Toll Free No:
        <a href="tel:1075">1075</a>
    </li>
    <li>FAQ's on Covid-19 (coronavirus disease) <a href="https://www.mohfw.gov.in/pdf/FAQ.pdf" target="_blank">(click
            here)</a></li>
    <li>Advisory - Social Distancing <a href="https://www.mohfw.gov.in/pdf/SocialDistancingAdvisorybyMOHFW.pdf">(click
            here)</a></li>
    <li>DoPT OM - Preventive measures to be taken to contain the spread of Novel Coronavirus (COVID-19) <a
            href="https://www.mohfw.gov.in/pdf/PreventivemeasuresDOPT.pdf">(click here)</a></li>
</ul>

<h4 style="color: #004040"><br>Information/Resources </h4>
<ul style="color: brown">
    <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">World Health
            Organization Covid-19</a></li>
    <li><a href="https://www.mohfw.gov.in" target="_blank">Ministry of Health &amp; Family Welfare (INDIA)</a></li>
</ul>


<hr>

<h4 style="color: #004040"><br>Notification #ecorpians</h4>

<span>We encourage you to act responsibly and to make informed decisions within your control.<br> If you need medical,
    security, or mental health support while abroad on an Ecorpin-related trip, contact International SOS at <a
        href="tel:+916295173968" title="Call Us"><u>+91-6295173968</u></a>
    or 112(india) </span>
<br>

{% endblock%}