{% extends 'ecorpin/base.html' %}

<!-- Endpoint Information -->
{% if info %}
    {% block titile %} {{ info.title }} {% endblock %}
    {% block end-point %} {{ info.end_point }} {% endblock %}
    {% block side-nav %} {{ info.sideNav }} {% endblock %}
    {% block main-headBox %}<h2><b>{{ info.main_headBox }}</b></h2>{% endblock %}
    {% block edge-headBox %}<h4><b>{{ info.edge_headBox }}</b></h4>{% endblock %}
{% endif %}

<!-- Content Block -->
{% block content %}
    <article class="container">
        <h2><br><strong> #ecorpians: the electrifying young minds</strong></h2>
        <div>At Ecorpin Corporation, we pursue education, research, and innovation with a passion for serious impact. We focus on inventing the 
            future based on Science &amp; Technology. We push past the edges of human understanding. We make new ways of seeing, and we see new 
            ways of making. We inspire our extraordinary team, and they inspire us right back. We take on great challenges. And through 
            clear-eyed, hands-on problem solving, we deliver new knowledge, new tools, new seekers, and new solutions-and we open wild new 
            frontiers. We tailor communications experiences to the passions and needs of those who wish to join, support, or understand our 
            mission and its pursuit.
        </div>
    </article>
    <hr>

    {% if ecorpians_list %}
        {% for ecorpian in ecorpians_list %}
            <article class="container">
                <h3><br><b>{{ ecorpian.designation }}</b></h3>
                <h2>{{ ecorpian.name }}</h2>
                <p><i>''{{ ecorpian.office_address }}''</i></p>
                <hr>
            </article>
        {% endfor %}
    {% else %}
        <article class="container">
            <hr>
            <h3><br><b>Ecorpin Secure Server</b></h3>
            <h2>No Employee Found</h2>
            <hr>
        </article>
    {% endif %}
{% endblock%}