{% extends 'service_access/base.html' %}
{% block title %}Ecorpin Payment{% endblock %}
{% block style %}
    <style>
        .td_label{
            /*  width: 20%; */
            color: white;
            font-size: 18px;
            font-family:'Courier New', Courier, monospace;
        }
        input, textarea{
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
<div class="w3-container w3-flat-midnight-blue">
    <br>
    <div class="w3-half w3-card-4 w3-leftbar w3-border-teal w3-padding-large w3-left">
        <h3 class="w3-text-teal w3-xlarge">Verify information before payment</h3>
        <table class="w3-table">
            <tr>
                <td class="td_label">Username</td>
                <td><input id="username" name="username" value="{{ user.username }}" /></td>
            </tr>
            <tr>
                <td class="td_label">Name</td>
                <td><input id="customerName" name="customerName" value="{{ payment.customerName }}" /></td>
            </tr>
            <tr>
                <td class="td_label">Email</td>
                <td><input id="customerEmail" name="customerEmail" value="{{ payment.customerEmail }}" /></td>
            </tr>
            <tr>
                <td class="td_label">Phone</td>
                <td><input id="customerPhone" name="customerPhone" value="{{ payment.customerPhone }}" /></td>
            </tr>
            <tr>
                <td class="td_label">Currency</td>
                <td><input id="orderCurrency" name="orderCurrency" value="{{ payment.orderCurrency }}" /></td>
            </tr>
            <tr>
                <td class="td_label">Note</td>
                <td><textarea name="orderNote" id="orderNote" cols="30" rows="5" class="w3-input">{{ payment.orderNote }}</textarea></td>
            </tr>
        </table>
    </div>

    <div class="w3-third w3-card-4 w3-leftbar w3-border-teal w3-padding-large w3-right">
        <h3 class="w3-text-teal w3-large">proceed to pay</h3>
        {% if error %}
            <h3>{{ error }}</h3>
            <hr>
        {% endif %}
            <form method="POST">
                {% csrf_token %}
                <table class="w3-table">
                    <tr>
                        <td class="td_label">Service-ID</td>
                        <td><input type="text" class="w3-input" name="username" value="{{ request.user.service_user.service_id }}" required></td>
                    </tr>
                    <tr>
                        <td class="td_label">Amount</td>
                        <td><input type="number" name="amount" class="w3-input" value="{{ payment.orderAmount }}"></td>
                    </tr>
                    <tr>
                        <td class="td_label">Note</td>
                        <td><textarea name="orderNote" id="orderNote" cols="30" rows="4" class="w3-input">{{ payment.orderNote }}</textarea></td>
                    </tr>
                </table>
                <input type="submit" class="w3-btn w3-border w3-right w3-serif w3-round " name="submit" value="proceed to pay" required>
            </form>
    </div>
    <!-- <p class="w3-bottom w3-large w3-serif w3-text-teal w3-center"><b> ©2021 Ecorpin Corporation | Rights reserved.</b></p> -->
</div>

<!-- display payment checkout form -->
<script>
    var username = document.getElementById("username");
    var orderAmount = document.getElementById("orderAmount");
    var orderCurrency = document.getElementById("orderCurrency");
    var orderNote = document.getElementById("orderNote");
    var customerName = document.getElementById("customerName");
    var customerEmail = document.getElementById("customerEmail");
    var customerPhone = document.getElementById("customerPhone");
    username.classList.add("w3-input");
    //orderAmount.classList.add("w3-input");
    orderCurrency.classList.add("w3-input");
    orderNote.classList.add("w3-input");
    customerName.classList.add("w3-input");
    customerPhone.classList.add("w3-input");
    customerEmail.classList.add("w3-input");

    username.disabled = true;
    //orderAmount.disabled = true;
    orderCurrency.disabled = true;
    orderNote.disabled = false;
    customerName.disabled = true;
    customerPhone.disabled = true;
    customerEmail.disabled = true;
</script>

{% endblock %}
