<!DOCTYPE html>
{% extends 'service_access/base.html' %}
{% block title %}{{ info.title }}{% endblock %}

{% block style %}
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-quarter img{margin-bottom: -6px; cursor: pointer}
        .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
        .myListSlide {display:none;}
        option{
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Project List  -->
    <div class="w3-section">
        <div class="w3-bar w3-light-grey">
            <div class="w3-dropdown-hover">
                <select id="id_project" class="w3-select w3-bar-item w3-button" name="project">
                    <option disabled selected>Choose project</option>
                    {% for service in service_list %}
                    <option value="{{ service.id }}" onclick="accordionX('Demo3', '{{ service.id }}')" class="w3-button w3-bar-item w3-flat-wet-asphalt">{{ service.title }}</option>
                    {% endfor %}
                </select>
                <div class="w3-red w3-section w3-flat-wet-asphalt" style="width:75%">
                    <div id="Demo3" class="w3-hide w3-container">
                      <div class="row">
                            {% for service in service_list %}
                                <p class="w3-large w3-text-black">{{ service.title }}</p>
                                <p class=" w3-text-black w3-serif">{{ service.description }}</p>
                                <p class="w3-small w3-text-black w3-serif">{{ service.service_id  }}, Status: {{ service.status|lower }}, Phase: {{ service.development_phase|lower }}, Payment: {{ service.payment_status|lower }}</p>
                                <p class="w3-small w3-text-black w3-serif"><strong>Notification:</strong> {{ service.notification }}</p>
                                <hr>
                            {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-row w3-flat-wet-asphalt w3-padding-32 w3-padding-64 ">
        {% for service in service_list %}
            <div class="myListSlide w3-animate-fading w3-animate-left w3-twothird w3-card-4 w3-leftbar w3-border-teal w3-padding-large">
                <h1 class="w3-text-teal w3-serif">{{ service.title }}</h1>
                <h4 class="w3-text-sand">{{ service.description }}</h4>
                <table class="w3-table w3-bordered  w3-half">
                    <tr>
                        <td>Service Id</td>
                        <td><strong>{{ service.service_id  }}</strong></td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><strong>{{ service.contact }}</strong></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><strong>{{ service.email }}</strong></td>
                    </tr>
                    <tr>
                        <td>Platform</td>
                        <td><strong>{{ service.platform }}</strong></td>
                    </tr>
                    <tr>
                        <td>Technology</td>
                        <td><strong>{{ service.technology }}</strong></td>
                    </tr>
                    <tr>
                        <td>Framework</td>
                        <td><strong>{{ service.framework }}</strong></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><strong>{{ service.status }}</strong></td>
                    </tr>
                </table>
                <table class="w3-table w3-bordered w3-bar-block w3-half">
                    <tr>
                        <td>Development</td>
                        <td><strong>{{ service.development_phase }}</strong></td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td><strong>{{ service.start_date }}</strong></td>
                    </tr>
                    <tr>
                        <td>Deadline</td>
                        <td>{{ service.deadline }}</td>
                    </tr>
                    <tr>
                        <td>Time (in Hrs.)</td>
                        <td><strong>{{ service.dedicatedTime }}</strong></td>
                    </tr>
                    <tr>
                        <td>Notification</td>
                        <td><strong>{{ service.notification }}</strong></td>
                    </tr>
                    <tr>
                        <td>Payment Status</td>
                        <td><strong>{{ service.payment_status }}</strong></td>
                    </tr>
                    <tr>
                        <td>Live URL</td>
                        <td><a class="w3-button w3-bar-item " href="{{ service.live_url }}" target="_blank">Visit Now</a></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        <div class="w3-third w3-card-4 w3-leftbar w3-border-teal w3-padding-large w3-right">
            <h3 class="w3-text-teal w3-large">Notification's</h3>
            <ul class="w3-ul">
                {% for service in service_list %}
                    <li class="w3-text-blue-gray w3-small w3-hover-blue-gray"><b class="w3-text-white"> {{ service.title }}</b> - {{ service.development_phase }} {{ service.notification }}<span class="close w3-cursor w3-text-red w3-right">&times;</span></li>
                {% endfor %}
            </ul>
            <br >
            <h3 class="w3-text-teal w3-large">{{ request.user.service_user.service_id }} recent payments</h3>
            <ul class="w3-ul">
                {% for payment in payment_list %}
                    <li class="w3-text-blue-gray w3-small w3-hover-pale-red">{{ payment.order_id }} - {{ payment.amount }} <span class="close w3-cursor w3-text-black w3-right">&times;</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- request a call section -->
    <div class="w3-container w3-flat-midnight-blue w3-padding-64">
        <div class="w3-third w3-padding-large">
            <h3 class=""><strong>request a call back.</strong></h3>
            <p class="w3-medium w3-serif w3-padding-medium">Would you like to speak one of our technical consultants over the phone? Just submit your details and we'll be in touch shortly.</p>
        </div>
        <div class="w3-twothird w3-padding-small">
            <h6 class="w3-large w3-serif w3-text-white w3-margin-left">I would like to discuss:</h6>
            <form class="w3-row w3-padding-small w3-medium w3-bar" method="POST">
                <div class="w3-half w3-padding-small">
                    <input type="text" class="w3-input w3-serif" name="catogary" id="id_catogary" placeholder="choose"><br>
                    <input type="text" class="w3-input w3-serif" name="phone" id="id_phone" placeholder="Phone number">
                </div>
                <div class="w3-half w3-padding-small">
                    <input type="text" class="w3-input w3-serif" name="name" id="id_name" placeholder="Name"><br>
                    <input type="email" class="w3-input w3-serif" name="email" id="id_email" placeholder="Email">
                </div>
                <input type="submit" class="w3-button w3-bar-item w3-border w3-margin-top" value="submit" style="margin-left:6px;">
            </form>
        </div>
    </div>

    <div class="w3-row w3-center w3-text-sand w3-red w3-large w3-padding-32">{{ info.edge_headBox }}</div>

    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("myListSlide");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"; 
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1} 
            x[slideIndex-1].style.display = "block"; 
            setTimeout(carousel, 5000); 
        }

        // close element
        var closebtns = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function() {
            this.parentElement.style.display = 'none';
        });
        }
        
        function accordion(id) {
          var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }

        function accordionX(id, val) {
            var x = document.getElementById(id);
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
{% endblock %}