<!DOCTYPE html>
{% extends 'service_access/base.html' %}
{% block title %}{{ info.title }}{% endblock %}

{% block style %}
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-quarter img{margin-bottom: -6px; cursor: pointer}
        .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
        .myListSlide {display:none;}
    </style>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p class="w3-xxxlarge w3-hide-small w3-text-teal w3-serif w3-center w3-padding-32 w3-sand">have a look! We're building your dream...</p>
    {% endif %}

    <div class="w3-row">
        <div class="w3-content w3-twothird" style="max-width:auto">
        {% for service in service_list %}
            <!-- w3-animate-right w3-animate-fading -->
            <div class="myListSlide w3-container w3-animate-left w3-animate-fading w3-text-white">
                <h1 class="w3-text-sand w3-serif">{{ service.title }}</h1>
                <h4 class="w3-text-sand w3-serif">{{ service.description }}</h4>
                <table class="w3-table w3-bordered  w3-half">
                    <tr>
                        <td>Service Id</td>
                        <td><strong>{{ service.service_id  }}</strong></td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><strong>{{ service.contact }}</strong></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><strong>{{ service.email }}</strong></td>
                    </tr>
                    <tr>
                        <td>Platform</td>
                        <td><strong>{{ service.platform }}</strong></td>
                    </tr>
                    <tr>
                        <td>Technology</td>
                        <td><strong>{{ service.technology }}</strong></td>
                    </tr>
                    <tr>
                        <td>Framework</td>
                        <td><strong>{{ service.framework }}</strong></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><strong>{{ service.status }}</strong></td>
                    </tr>
                </table>
                <table class="w3-table w3-bordered  w3-half">
                    <tr>
                        <td>Development</td>
                        <td><strong>{{ service.development_phase }}</strong></td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td><strong>{{ service.start_date }}</strong></td>
                    </tr>
                    <tr>
                        <td>Deadline</td>
                        <td>{{ service.deadline }}</td>
                    </tr>
                    <tr>
                        <td>Time (in Hrs.)</td>
                        <td><strong>{{ service.dedicatedTime }}</strong></td>
                    </tr>
                    <tr>
                        <td>Notification</td>
                        <td><strong>{{ service.notification }}</strong></td>
                    </tr>
                    <tr>
                        <td>Payment Status</td>
                        <td><strong>{{ service.payment_status }}</strong></td>
                    </tr>
                    <tr>
                        <td>Live URL</td>
                        <td><a class="w3-btn w3-border w3-serif" href="{{ service.live_url }}" target="_blank">Visit Now</a></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        </div>
        <div class="w3-quarter w3-right w3-sand w3-round w3-padding-small">
            <div class="w3-text-blue-gray w3-serif w3-center w3-xlarge w3-border-bottom w3-border-teal">recent payments</div>
            <ul class="w3-ul">
                {% for payment in payment_list %}
                    <li class="w3-text-blue-gray w3-small w3-hover-pale-red"><span class="close w3-cursor w3-btn w3-text-red">&times;</span> {{ payment.order_id }} - {{ payment.amount }}</li>
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>
    
    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("myListSlide");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"; 
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1} 
            x[slideIndex-1].style.display = "block"; 
            setTimeout(carousel, 5000); 
        }

        // close element
        var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function() {
            this.parentElement.style.display = 'none';
        });
        }
    </script>
{% endblock %}