<!DOCTYPE html>
{% extends 'service_access/base.html' %}

{% block style %}
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-quarter img{margin-bottom: -6px; cursor: pointer}
        .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
        .myListSlide {display:none;}
        .w3-animate-fading{animation-duration: 2000ms;}
    </style>
{% endblock %}

<!-- Endpoint Information -->
{% if info %}
    {% block title %}{{ info.title }}{% endblock %}
{% endif %}

{% block content %}
<!-- body content 2nd row -->
    <div class="w3-row w3-flat-wet-asphalt w3-padding-32">
        <div class="w3-third w3-card-4 w3-leftbar w3-border-teal w3-padding-large w3-right">
            <h3 class="w3-text-teal w3-large">Profile Details! {{ request.user.first_name }} {{ request.user.last_name }}</h3>
            <h5 class="w3-medium">Service Id: {{ request.user.service_user.service_id }}</h5>
            <h4 class="w3-medium">Username: {{ request.user.username }}</h4>
            <h5 class="w3-medium">Name: {{ request.user.first_name }} {{ request.user.last_name }}</h5>
            <h5 class="w3-medium">Email: {{ request.user.email }}</h5>
            <h5 class="w3-medium">Last Access: {{ request.user.last_login }}</h5>
        </div>
    </div>
    <!-- body content 2nd row -->
    <div class="w3-row w3-flat-wet-asphalt w3-padding-32">
        <div class="w3-third w3-card-4 w3-leftbar w3-border-teal w3-padding-large w3-right w3-bar-block">
            <h3 class="w3-text-teal w3-large">Ecorpin (registered as Ecorpin Corporation) {{ request.user.first_name }} {{ request.user.last_name }}</h3>
            <a href="#" class="w3-bar-item w3-btn w3-border w3-border-teal w3-flat-wet-asphalt w3-hover-sand ">Have A New Idea! Let's Talk About It...</a>
            <a href="#" class="w3-bar-item w3-btn w3-border w3-border-teal w3-flat-wet-asphalt w3-hover-sand">Invest In Ecorpin Corporation <span class="w3-green w3-text-white w3-large w3-serif w3-right w3-animate-fading"> Start Now </span></a>
            <a href="#" class="w3-bar-item w3-btn w3-border w3-border-teal w3-flat-wet-asphalt w3-hover-sand">Appriciate Our Superheros By Little Donation</a>
            <a href="#" class="w3-bar-item w3-btn w3-border w3-border-teal w3-flat-wet-asphalt w3-hover-sand">Subscribe Ecorpin Notification</a>
            <a href="#" class="w3-bar-item w3-btn w3-border w3-border-teal w3-flat-wet-asphalt w3-hover-sand"></a>
        </div>
    </div>
    <div class="w3-row w3-center w3-text-sand w3-red w3-large w3-padding-32">{{ info.edge_headBox }}</div>

    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("myListSlide");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"; 
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1} 
            x[slideIndex-1].style.display = "block"; 
            setTimeout(carousel, 2000); 
        }

        // close element
        var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function() {
            this.parentElement.style.display = 'none';
        });
        }
    </script>
{% endblock %}