<!DOCTYPE html>
{% extends 'service_access/base.html' %}

{% block style %}
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        .w3-quarter img{margin-bottom: -6px; cursor: pointer}
        .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
        .myListSlide {display:none;}
        .w3-animate-fading{animation-duration: 2000ms;}
    </style>
{% endblock %}

<!-- Endpoint Information -->
{% if info %}
    {% block title %}{{ info.title }}{% endblock %}
    
    {% block end-point %} {{ info.end_point }} {% endblock %}
    {% block side-nav %} {{ info.sideNav }} {% endblock %}
    {% block main-headBox %}<h2>{{ info.main_headBox }}</h2>{% endblock %}
    {% block edge-headBox %}<h3></h3>{% endblock %}
{% endif %}

{% block content %}
    <div class="w3-bar w3-text-teal w3-serif w3-center w3-padding-16 w3-sand">
        <span class="w3-left w3-xlarge">Welcome back! {{ request.user.first_name }} {{ request.user.last_name }}</span>
        <a href="{% url 'service_access:logout' %}" class="w3-btn w3-border w3-border-teal w3-round w3-medium w3-right w3-bar-item w3-margin-right">logout</a>
        <a href="#" class="w3-btn w3-border w3-border-teal w3-round w3-medium w3-right w3-bar-item w3-margin-right">support</a>
        <a href="{% url 'service_access:profile' %}" class="w3-btn w3-border w3-border-teal w3-round w3-medium w3-right w3-bar-item w3-margin-right">profile</a>
        <a href="{% url 'service_access:dashboard' %}" class="w3-btn w3-border  w3-border-teal w3-round w3-medium w3-right w3-bar-item w3-margin-right">dashboard</a>
    </div>

    <div class="w3-row w3-padding-large">
        <div class="w3-half w3-border w3-round w3-padding-large">
            <h3 class="w3-text-sand w3-large">Profile Details!</h3>
            <h5>Service ID: {{ request.user.service_user.service_id }}</h5>
            <h5>Username: {{ request.user.username }}</h5>
            <h5>First Name: {{ request.user.first_name }}</h5>
            <h5>Last Name: {{ request.user.last_name }}</h5>
            <h5>Email: {{ request.user.email }}</h5>
            <h5>System ID:{{ request.user.id }}</h5>
            <h5>Email: {{ request.user.email }}</h5>
        </div>
        <div class="w3-third w3-card-4 w3-leftbar w3-border-teal w3-padding-large w3-right">
            <h3 class="w3-text-teal w3-large">Profile Details!</h3>
            <h5 class="w3-medium">Service Id: {{ request.user.service_user.service_id }}</h5>
            <h4 class="w3-medium">Username: {{ request.user.username }}</h4>
            <h5 class="w3-medium">Name: {{ request.user.first_name }} {{ request.user.last_name }}</h5>
            <h5 class="w3-medium">Email: {{ request.user.email }}</h5>
            <h5 class="w3-medium">Last Access: {{ request.user.last_login }}</h5>
        </div>
    </div>

    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("myListSlide");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none"; 
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1} 
            x[slideIndex-1].style.display = "block"; 
            setTimeout(carousel, 2000); 
        }

        // close element
        var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function() {
            this.parentElement.style.display = 'none';
        });
        }
    </script>
{% endblock %}