{% extends 'service_access/base.html' %}
{% block title %} Service Access | Ecorpin {% endblock %}

{% block content %}
    <div>
        <div class="w3-opacity">
            <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
            <div class="w3-clear"></div>
            <header class="w3-center w3-margin-bottom">
                <h1 class="w3-wide"><b>Ecorpin Service Access</b></h1>
                <p><b>ecorpin is at your fingertip...</b></p>
            </header>
        </div>

        <div class="w3-container w3-auto">
            <form action="#" method="GET">
                <h2 class="w3-center w3-xxlarge w3-auto">Login with Service ID</h2>
                <!-- client account login pannel -->
                {% csrf_token %}
                <input type="text" class="w3-border w3-hover-border-black w3-white" name="username" placeholder="enter your username or service id" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                <input type="password" class="w3-border w3-hover-border-black w3-white" name="password" placeholder="enter your password" autocomplete="current-password" required id="id_password">
                <button class="button button3" type="submit">Login</button>
            </form>
        </div>

        {% if errData %}
            <div id="snackbar">{{ errData }}</div>
        {% else %}
            <div id="snackbar">Welcome to Ecorpin Service Access</div>
        {% endif %}
    </div>
{% endblock %}